<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!
  </h1>
  <hr>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleados</a>
    <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas</a>
    <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
  </nav>

  <!-- <empleado></empleado> -->
  <router-outlet></router-outlet>
</div>

