
nav a{
    padding: 10px;
}
.cuadrado{
    height: 100px;
    width: 200px;
    border: 1px solid red;
}
.fondoAzul{
    background: lightblue !important;
}
.fondoVerde{
    background: lightgreen !important;
}

.activado{
    font-weight: bold;
    background-color: rgba(100,100,50,0.5);
}